@import "../../../styles/colors";

$paddingHeight: 0.5rem;
$fontSize: 1rem;
$paddingWidth: 1rem;
$width: 7rem;

.dropDownContainer {
  display: flex;
  position: relative;
  font-size: $fontSize;
  cursor: pointer;
}

.dropDownDisplayContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $paddingHeight 0;
  min-width: $width;
  max-width: $width;
  border-radius: 0.25rem;
}

.displayTextStyle {
  overflow: hidden;
  min-width: $width - 2rem;
  max-width: $width - 2rem;
  padding-left: 0.5rem;
}

.arrowDown {
  border-top: 0.5rem solid $yellow;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  margin-right: 0.5rem;
}

.selectedRow{
  background: $yellow;
}

.rowContainer {
  border-bottom: 1px solid;
  padding: 0.25rem 0;
  min-width: $width;
  max-width: $width;
  overflow: hidden;
}

.rowContainer:hover {
  color: $yellow;
}

.selectedRow:hover {
  color: inherit !important;
}

.rowContainer:last-child {
  border-bottom: none;
}

.dropDownListContainer {
  left: 0;
  top: ($paddingHeight * 2) + $fontSize;
  position: absolute;
  margin: 0.1rem 0;
}