body {
  font-size: 18px;
  font-family: sans-serif;
}

@mixin content($background, $color) {
  background: $background;
  color: $color;
}

body.dark-mode {
  @include content(#000000, #ffffff);
  svg.svg-btn {
    fill: #ffffff;
  }
  a.resume-download-button {
    background: white;
    color: black;
    svg {
      fill: black;
    }
  }
  .button-style, .background-style {
    background: white;
    color: black;
  }

  .button-style-inverted , .background-style-inverted{
    background: black;
    color: white;
    border: 1px solid white;
  }
}

body.light-mode {
  @include content(#ffffff, #000000);
  svg.svg-btn {
    fill: #000000;
  }
  a.resume-download-button {
    background: black;
    color: white;
    svg {
      fill: white;
    }
  }
  .button-style, .background-style {
    background: black;
    color: white;
  }

  .button-style-inverted , .background-style-inverted{
    background: white;
    color: black;
    border: 1px solid black;
  }
}

.button-style, .button-style-inverted {
  cursor: pointer;
  user-select: none;
}

.button-style:active, .button-style-inverted:active {
  opacity: 0.75;
}

@media(min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media(min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 768px;
  }
}

@media(min-width: 640px) and (max-width: 767px) {
  .container {
    max-width: 640px;
  }
}

